{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentCost API",
    "description": "Track LLM costs in your AI applications.\n\nAgentCost records every LLM call with model, tokens, cost, latency and status, then reports spend by agent, workflow, project and model.\n\n**Public, no credentials required:** everything under `/v1/pricing` (the model catalogue and its per-1k rates) and `/v1/health`.\n\n**Everything else** needs either a project API key (`Authorization: Bearer sk_...`) or a session token plus a `project_id`.\n\nErrors return a structured envelope: `error.code`, `error.message`, `error.hint`.",
    "termsOfService": "https://agentcost.tech/terms",
    "contact": {
      "name": "AgentCost",
      "url": "https://agentcost.tech/contact",
      "email": "hello@agentcost.tech"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/agentcost-ai/agentcost-sdk/blob/main/LICENSE"
    },
    "version": "0.1.3",
    "x-mirror": "https://agentcost.tech/api",
    "x-mcp-server": "https://agentcost.tech/api/mcp",
    "x-versioning-policy": "https://agentcost.tech/docs/api-versioning"
  },
  "servers": [
    {
      "url": "https://api.agentcost.tech",
      "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
    },
    {
      "url": "https://agentcost.tech/api",
      "description": "Cached mirror on the website. Serves the public read endpoints and the cost estimator, and does not sleep."
    }
  ],
  "paths": {
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register",
        "description": "Register a new user account.\n\n- **email**: Valid email address (must be unique)\n- **password**: Min 8 chars, must include uppercase, lowercase, and number\n- **name**: Optional display name\n- **accept_terms**: Must be true - explicit consent to Terms of Service\n- **accept_privacy**: Must be true - explicit consent to Privacy Policy\n- **terms_version**: Version of Terms being accepted (e.g., \"1.0\")\n- **privacy_version**: Version of Privacy Policy being accepted (e.g., \"1.0\")\n\nLegal consent is recorded with timestamp, IP address, and user agent for audit compliance.\n\nThe user is logged in immediately: the response includes the same token payload\nas /login, plus a default project (API key shown ONCE) and whether the\nverification email was actually sent.",
        "operationId": "authentication_register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegister"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/google": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Google Auth",
        "description": "Authenticate or register with Google.\n\nAccepts a Google ID token (credential) from Google Identity Services.\n- If the user exists, signs them in.\n- If the user doesn't exist, creates a new account and signs them in.\n\nGoogle users get auto-verified email and no password is required.",
        "operationId": "authentication_google_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/github": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Github Auth",
        "description": "Authenticate or register with GitHub.\n\nAccepts the authorization code from GitHub's OAuth redirect.\n- If the user exists, signs them in.\n- If the user doesn't exist, creates a new account and signs them in.\n\nGitHub users get auto-verified email and no password is required.",
        "operationId": "authentication_github_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitHubAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/policies/current": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Current Policy Versions",
        "description": "Get current policy versions.\n\nUse this to display correct versions to users during signup\nand to check if policies have been updated.",
        "operationId": "authentication_get_current_policy_versions",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/policies/status": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check Policy Status",
        "description": "Check if current user has accepted the latest policy versions.\n\nReturns status for both Terms of Service and Privacy Policy,\nincluding whether re-acceptance is required.",
        "operationId": "authentication_check_policy_status",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyCheckResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/policies/accept": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Accept Policies",
        "description": "Accept updated policy versions.\n\nUse this when policies have been updated and user needs to re-accept.\nRecords consent with timestamp, IP, and user agent for audit trail.",
        "operationId": "authentication_accept_policies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PolicyConsentInput"
                },
                "type": "array",
                "title": "Consents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyCheckResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Authenticate user and get access token.\n\n- **email**: User's email address\n- **password**: User's password\n- **remember_me**: If true, session lasts 30 days instead of 7",
        "operationId": "authentication_login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh Token",
        "description": "Get a new access token using a refresh token.\n\nUse this when your access token expires.",
        "operationId": "authentication_refresh_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Logout and invalidate current session.",
        "operationId": "authentication_logout",
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/logout-all": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout All",
        "description": "Logout from all devices and invalidate all sessions.\n\nRequires authentication.",
        "operationId": "authentication_logout_all",
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Me",
        "description": "Get current authenticated user's profile.\n\nRequires authentication.\nAlso updates last_active_at to track user activity (debounced to 5 mins).",
        "operationId": "authentication_get_me",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update Me",
        "description": "Update current user's profile.\n\nRequires authentication.",
        "operationId": "authentication_update_me",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/password/change": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Change Password",
        "description": "Change password for current user.\n\nRequires authentication and current password.",
        "operationId": "authentication_change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/password/reset-request": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request Password Reset",
        "description": "Request a password reset email.\n\nFor security, always returns 204 even if email doesn't exist.\nRate limited to 3 requests per email per hour.",
        "operationId": "authentication_request_password_reset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset Password",
        "description": "Reset password using token from email.",
        "operationId": "authentication_reset_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/verify-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify Email",
        "description": "Verify email address using token from email.",
        "operationId": "authentication_verify_email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/resend-verification": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Resend Verification",
        "description": "Resend email verification link.\n\nFor security, always returns 204 even if email doesn't exist.",
        "operationId": "authentication_resend_verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/sessions": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List Sessions",
        "description": "List all active sessions for current user.\n\nRequires authentication.",
        "operationId": "authentication_list_sessions",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/auth/sessions/{session_id}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke Session",
        "description": "Revoke a specific session.\n\nRequires authentication.",
        "operationId": "authentication_revoke_session",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/projects/{project_id}/members": {
      "get": {
        "tags": [
          "Project Members"
        ],
        "summary": "List Members",
        "description": "List all members of a project.\n\nRequires VIEW_MEMBERS permission (all roles have this).",
        "operationId": "project_members_list_members",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "include_pending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Pending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersListResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Project Members"
        ],
        "summary": "Invite Member",
        "description": "Invite a user to the project.\n\nRequires INVITE_MEMBERS permission (admin only).\nIf the user has an account, they'll receive an invitation to accept.\nIf the user doesn't have an account, they'll receive an email with instructions to register.",
        "operationId": "project_members_invite_member",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/projects/{project_id}/members/{user_id}": {
      "patch": {
        "tags": [
          "Project Members"
        ],
        "summary": "Update Member Role",
        "description": "Update a member's role.\n\nRequires CHANGE_ROLES permission (admin only).\nOnly project owners can promote to admin.",
        "operationId": "project_members_update_member_role",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Project Members"
        ],
        "summary": "Remove Member",
        "description": "Remove a member from the project.\n\nRequires REMOVE_MEMBERS permission (admin only).\nAdmins cannot remove other admins (only the owner can).",
        "operationId": "project_members_remove_member",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait for the number of seconds in Retry-After, then retry.",
            "headers": {
              "RateLimit-Policy": {
                "description": "The quota policy in force, e.g. \"public\";q=120;w=60 - 120 requests per 60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset, e.g. \"public\";r=119;t=60.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Requests allowed per window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always present on a 429.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.agentcost.tech",
          "description": "AgentCost API (origin). Sleeps when idle; a cold request can take ~60s."
        }
      ]
    },
    "/v1/projects/{project_id}/leave": {
      "post": {
        "tags": [
          "Project Members"
        ],
        "summary": "Leave Project",
        "description": "Leave a project voluntarily.\n\nProject owners cannot leave - they must transfer ownership or delete the project.",
        "operationId": "project_members_leave_project",
        "security": [
          {
[...]
